{% load static %}

<html>
    <head>
        <title>Story 8</title>
        <link rel="stylesheet" type="text/css" href="{% static 'accordion/main.css' %}">
        <script src="{% static 'accordion/jquery.js' %}"></script>
    </head>
    <body>
        <ul>
            <li>
                    <button class="accordion" id="acc1">Current Activities</button>
                    <div class="down">Move Down</div> 
                    <div class="up">Move Up</div>
                    <div class="panel" id="panel1">
                    <p>Because of the coronavirus pandemic, i'm currently staying home and learning online</p>
                    </div>
            </li>

            <li>
                    <button class="accordion" id="acc2">Organizational Experience</button>
                    <div class="down">Move Down</div> 
                    <div class="up">Move Up</div>
                    <div class="panel" id="panel2">
                    <p>I've never joined an organization since i started college</p>
                    </div> 
            </li>
            
            <li> 
                    <button class="accordion" id="acc3">Committee Experience</button>
                    <div class="down">Move Down</div> 
                    <div class="up">Move Up</div>
                    <div class="panel" id="panel3">
                    <p>Until now, i have only participated in PEMIRA</p>
                    </div>
            </li>

            <li>
                <button class="accordion" id="acc4">Achievements</button>
                    <div class="down">Move Down</div> 
                    <div class="up">Move Up</div>
                    <div class="panel" id="panel4">
                    <p>Nothing (yet)</p>
                    </div>
            </li>
        
        </ul>
        <script>
            
            
            $(document).ready(function(){
              
                $("#acc1").click(function(){
                $("#panel1").slideToggle();
                $("#acc1").toggleClass("active")
              });

                $("#acc2").click(function(){
                $("#panel2").slideToggle();
                $("#acc2").toggleClass("active")
              });

                $("#acc3").click(function(){
                $("#panel3").slideToggle();
                $("#acc3").toggleClass("active")
              });

                $("#acc4").click(function(){
                $("#panel4").slideToggle();
                $("#acc4").toggleClass("active")
              });

              $(function() {
                    $('.up').on('click', function(e) {
                        var wrapper = $(this).closest('li')
                        wrapper.insertBefore(wrapper.prev())
                    })

                    $('.down').on('click', function(e) {
                        var wrapper = $(this).closest('li')
                        wrapper.insertAfter(wrapper.next())
                    })
                })
            });
        </script>
    </body>
</html>